@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #15021b;
  --primary-dark: #810ca8;
  --primary-normal: #c147e9;
  --primary-light: #e5b8f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
